# Ignoring .env files (for the API key)
.env
.env.test

# linters to use for neovim
eslint.config.mjs

# testing outputs
runs/

# Ignore node_modules
node_modules/

# Ignore generated CSV files
*.csv

# Ignore database scripts
databaseScripts/*.js